/* 文章页背景 */
.layout_post>#post {
    background: rgba(255,255,255,.85);
}

/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    background: rgba(255,255,255,.85);
}

/* 侧边卡片的透明度 */
:root {
  --card-bg: rgba(255, 255, 255, .85);
}

/* 导航栏背景透明度 */
#page-header.nav-fixed #nav {
  background: rgba(255,255,255,.85);
}
#sidebar #sidebar-menus {
  padding: 30% 0;
  right: -250px;
  width: 250px;
}